<div class="container-nav-label">
    <a [routerLink]="['/home']">
        <div class="label-nav big-text icon-nav-label" style="background-color: #000">RETROSPORTS
            <img src="../../assets/images/icon-home.png" style="height: 18px; width: 18px; margin-left: 10px;">
        </div>
    </a>
</div>
<div class="login-ficha-bg">
<div class="subheader-text subheader-label">ABOUT US</div>   
    <div style="margin-top: 100px;">
        <div class="card mb-5" style="max-width: 540px; margin: 0 auto;">
            <div class="row no-gutters">
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-8" style="margin-top: 40px; margin-bottom: 40px;">
                	RetrosportsSpain es una plataforma sin ánimo de lucro que enlaza contenido audiovisual libre de publicidad y spams. Con el único fin de facilitar al usuario el acceso a dichos contenidos de una manera rápida y fácil. <br>

					RetrosportsSpain no almacena ningún video en sus servidores, publicamos contenido de otros sitios web que son de dominio libre. Cualquier reclamo hacerlo llegar a dichos servidores ajenos a este sitio. <br>

					El Administrador de esta web no se hace responsable de los comentarios u otras acciones de los usuarios. Usted no puede utilizar este sitio para distribuir o descargar cualquier archivo del que usted no tenga los derechos legales. Es su responsabilidad adherirse o no a estos términos.
                </div>
            </div>
        </div>
    </div>
<div>
<footer id="footer">
    <div class="center">
        <p>&copy; RetroSportsSpain</p>
    </div>
</footer>   
