<div class="container-nav-label">
    <a [routerLink]="['/home']">
        <div class="label-nav big-text icon-nav-label" style="background-color: #000">RETROSPORTS
            <img src="../../assets/images/icon-home.png" style="height: 18px; width: 18px; margin-left: 10px;">
        </div>
    </a>
</div>
<div class="nfl-ficha-bg" *ngIf="posts$ | async as posts">
<div class="subheader-text subheader-label">NFL</div>   
    <div *ngFor="let post of posts" style="margin-top: 60px;">
        <div class="card mb-5" style="max-width: 540px; margin-left: 5%;"  *ngIf="post.tagsPost == 'NFL'">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <iframe  [src]="getVideoIframe(post.videoUrl)" class="card-img" frameborder="0" allowfullscreen></iframe>   
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{post.titlePost}} - {{post.competitionPost}}</h5>
                        <p class="card-text">{{post.contentPost}}</p>
                        <p class="card-text"><small class="text-muted">{{post.datePost}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>
<footer id="footer">
    <div class="center">
        <p>&copy; RetroSportsSpain</p>
    </div>
</footer>  