@font-face {
font-family: garamond;
src: url('../src/assets/fonts/bonjour.ttf');
}

@font-face {
font-family: heinrich;
src: url('../src/assets/fonts/Sporter.ttf');
}


@font-face {
font-family: lephnia;
src: url('../src/assets/fonts/canaveral.otf');
}
.big-text{
	font-size: 32px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000;
    /*FUENTES*/
    font-family: 'heinrich';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;	
}

.big-text-menu-header{
	font-size: 32px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
    text-shadow: 2px 2px #000000;
    /*FUENTES*/
    font-family: 'heinrich';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;	
}

.big-text-menu-label{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    /*FUENTES*/
    font-family: 'heinrich';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;   
}

.celeb-quote{
    width: 50%;
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    margin-top: 5%; 
    text-shadow: 2px 2px gainsboro;
    /*FUENTES*/
    font-family: 'garamond';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;   
    font-weight: lighter;   
}

.big-text-menu-label:hover{
    text-decoration: underline;   
}
.menu-futbol:hover ~ .big-text-menu-header {
  
    background-color: #ffffff;
}

.icon-nav{
    float: right; 
    cursor: pointer;
    margin-right: 42px;
    margin-top: 6px;
}

.first-color-try{
    backgroun-color: #dff0d8;
}

.subheader-text{
    font-size: 48px;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    /*FUENTES*/
    font-family: 'heinrich';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;   
}

.title-text{
    font-size: 22px;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    /*FUENTES*/
    font-family: 'heinrich';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;   
}

.data-text{
    font-size: 14px;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;   
}

.year-text{
    font-size: 14px;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    /*FUENTES*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;   
}
.container-ficha{
    padding-bottom: 5%;
    margin-left: 5%; 
}

.iframe-ficha{
    box-shadow: 7px 12px 31px 8px black;
    border: 5px solid orange;
    border-radius: 20px;

}
.center{
    width: 75%;
    margin: 0px auto;
}

#footer{
    background: #000000;
    width: 100%;
    height: 80px;
    padding-top: 24px;
    

}

#footer p {
    text-align: center;
    color: moccasin;
}

.no-gutters{
    background-color: beige; 
    box-shadow: 0px 3px 20px 8px black;    
    border-radius: 5px;
    border: 5px solid orange;
}

.subheader-sport{

}

.label-nav{
    
}

.icon-nav-label{
    float: right; 
    cursor: pointer;
    margin-right: 17px;
    padding-top: 6px;
}

.container-nav-label{
    width: 100%;
    background-color: black;
    height: 56px;    
}
.subheader-label{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: brown;
    box-shadow: 0px 0px 26px 12px black;    
}